.Price{
    border-radius: 5px;
    width: 100%;
    padding: 2px;
    margin: auto;
    top: -30px;
    left: -4px;
    position: absolute;
    text-align: center;
    background-color: black;
}
.Price small{
    font-size:0.9rem ;
    font-weight: 700;
    color: white;
}
@media screen and (max-width:400px) {
    .Price small{
        font-size: 0.7rem;
    }
}